@font-face {
  font-family: "iconfont"; /* Project id 4313133 */
  src: url('iconfont.woff2?t=1699232579123') format('woff2'),
       url('iconfont.woff?t=1699232579123') format('woff'),
       url('iconfont.ttf?t=1699232579123') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e8ef";
}

.icon-check-circle:before {
  content: "\e77d";
}

.icon-compass:before {
  content: "\e77f";
}

.icon-close-circle:before {
  content: "\e780";
}

.icon-info-circle:before {
  content: "\e781";
}

.icon-minus-circle:before {
  content: "\e784";
}

.icon-plus-circle:before {
  content: "\e785";
}

.icon-earth:before {
  content: "\e78a";
}

.icon-YUAN:before {
  content: "\e78b";
}

.icon-message:before {
  content: "\e78f";
}

.icon-poweroff:before {
  content: "\e790";
}

.icon-setting:before {
  content: "\e791";
}

.icon-location:before {
  content: "\e792";
}

.icon-edit-square:before {
  content: "\e793";
}

.icon-save:before {
  content: "\e794";
}

.icon-detail:before {
  content: "\e795";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-mobile:before {
  content: "\e7b2";
}

.icon-file-excel:before {
  content: "\e7b7";
}

.icon-file-pdf:before {
  content: "\e7b8";
}

.icon-file-image:before {
  content: "\e7b9";
}

.icon-file-ppt:before {
  content: "\e7ba";
}

.icon-file-word:before {
  content: "\e7bb";
}

.icon-alert:before {
  content: "\e7c3";
}

.icon-USB:before {
  content: "\e7c5";
}

.icon-skin:before {
  content: "\e7c4";
}

.icon-home:before {
  content: "\e7c6";
}

.icon-like:before {
  content: "\e7c8";
}

.icon-unlike:before {
  content: "\e7c9";
}

.icon-unlock:before {
  content: "\e7ca";
}

.icon-lock:before {
  content: "\e7cb";
}

.icon-shopping:before {
  content: "\e7cf";
}

.icon-folder:before {
  content: "\e7d1";
}

.icon-folder-open:before {
  content: "\e7d2";
}

.icon-folder-add:before {
  content: "\e7d3";
}

.icon-contacts:before {
  content: "\e7d4";
}

.icon-barcode:before {
  content: "\e7d7";
}

.icon-camera:before {
  content: "\e7d8";
}

.icon-car:before {
  content: "\e7d9";
}

.icon-printer:before {
  content: "\e7da";
}

.icon-read:before {
  content: "\e7db";
}

.icon-video:before {
  content: "\e7dc";
}

.icon-sound:before {
  content: "\e7dd";
}

.icon-image:before {
  content: "\e7de";
}

.icon-mail:before {
  content: "\e7df";
}

.icon-table:before {
  content: "\e7e0";
}

.icon-idcard:before {
  content: "\e7e1";
}

.icon-heart:before {
  content: "\e7e2";
}

.icon-error:before {
  content: "\e7e3";
}

.icon-star:before {
  content: "\e7e4";
}

.icon-wifi:before {
  content: "\e7e5";
}

.icon-man:before {
  content: "\e7e7";
}

.icon-phone:before {
  content: "\e7e9";
}

.icon-right:before {
  content: "\e7eb";
}

.icon-left:before {
  content: "\e7ec";
}

.icon-up:before {
  content: "\e7ed";
}

.icon-down:before {
  content: "\e7ee";
}

.icon-upload:before {
  content: "\e7f1";
}

.icon-download:before {
  content: "\e7f2";
}

.icon-code:before {
  content: "\e803";
}

.icon-pause:before {
  content: "\e804";
}

.icon-desktop:before {
  content: "\e842";
}

.icon-gift:before {
  content: "\e843";
}

.icon-stop:before {
  content: "\e844";
}

.icon-alipay:before {
  content: "\e87c";
}

.icon-taobao:before {
  content: "\e87d";
}

.icon-apple:before {
  content: "\e884";
}

.icon-android:before {
  content: "\e885";
}

.icon-QQ:before {
  content: "\e887";
}

.icon-wechat-fill:before {
  content: "\e888";
}

